{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block body %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}<p  class="{{ message.tags }} alert alert-success">{{ message }}</p>{% endif %}
        {% if message.tags == "warning" %}<p  class="{{ message.tags }} alert alert-warning">{{ message }}</p>{% endif %}
    {% endfor %}
{% endif %}

<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{% trans 'Sugestões de amizade' %}</strong>
            </div>

            

            {% if perfis %}
            
            <div style="overflow-y: scroll; height: 200px;">
                <ul class="list-group">
                    {% for perfil in perfis %}
                    {% if perfil.nome != perfil_logado.nome and perfil not in perfil_logado.contatos.all and perfil not in perfil_logado.bloqueados %}

                    <li class="list-group-item">
                        <a href="{% url 'exibir' perfil.id %}">{{ perfil.nome }}</a>
                    </li>

                    {% endif %}
                {% endfor %}
                </ul>

                {% else %}

                <p>{% trans 'Não há perfis cadastrados' %}</p>

                {% endif %}
            </div>
        </div>

        <div
            class="panel panel-default"
            style="overflow-y: scroll; height: 200px;"
        >
            {% with total=perfil_logado.contatos.count %}
            {% if total %}

            <div class="panel-heading">
                <strong>
                    {% blocktrans %}{{ total }}
                    Contato{{ total|pluralize }} {% endblocktrans %}
                </strong>
            </div>

            <ul class="list-group">
                <aside>
                    {% for perfil in perfil_logado.contatos.all %}

                    <li class="list-group-item">
                        <p>
                            <a href="{% url 'exibir' perfil.id %}">{{ perfil }}</a>
                            <a class="btn btn-danger pull-right" href="{% url 'desfazer' perfil.id %}">{% trans 'desfazer amizade' %}</a>
                        </p>
                    </li>
                {% endfor %}
                </aside>
            </ul>

            {% else %}

            <div class="panel-body">{% trans 'Não há contatos :(' %}</div>

            {% endif %}
            {% endwith %}
        </div>

        {% if perfil_logado.superuser %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{% trans 'Todos os perfis' %}</strong>
            </div>

            {% if perfis %}

            <div style="overflow-y: scroll; height: 200px;">
                <ul class="list-group">
                    {% for perfil in perfis %}
                    {% if perfil.nome != perfil_logado.nome %}

                    <li class="list-group-item">
                        <a href="{% url 'exibir' perfil.id %}">{{ perfil.nome }}</a>
                    </li>

                    {% endif %}
                {% endfor %}
                </ul>

                {% else %}

                <p>{% trans 'Não há perfis cadastrados' %}</p>

                {% endif %}
            </div>
        </div>

        {% endif %}
    </div>

    <div class="col-lg-6">
        <br>

        <form name = "form" enctype = "multipart/form-data" action="{% url 'postar' %}" method = "POST" >
                {% csrf_token %}
                <input
                    name="texto"
                    id="id_postagem"
                    required="required"
                    style="min-width: 485px; min-height: 150px; max-width: 555px; max-height: 150px;"
                >
            <label for="imagem_postagem"><br><img src="{% static 'img/camera.png' %}" width ="32"  heigth = "32"></label>
                <input id="imagem_postagem" type = "file" style = "display: None;" placeholder = "Picture" name = "imagem_postagem"/>
            <br><br>
                <button class="btn btn-dark btn-lg btn-block" type = "submit" value = "upload" >{% trans 'Postar' %}</button>
            </form>


        <br>
        <br>
        <br>
        <div class="panel panel-default">
            {% with total=timeline.count %}

            {% if timeline %}


            <ul class="list-group">
                {% for postagem in timeline %}
                <li class="list-group-item">
                    <div class="row">
                    <div class="col-lg-2">
                    {% if postagem.dono.foto_perfil %}
                        <img src="{{ postagem.dono.foto_perfil.url }}" style="width:65px; height:65px">
                        {% else %}
                            <img src="{% static 'img/robot.jpg' %}" style="width:50px; height:50px">
                        {% endif %}
                    </div>
                    <div class="col-lg-10">

                        <h4>{{ postagem.dono }} {% trans 'compartilhou uma publicação' %}</h4>
                        <h6>{{postagem.data_publicacao}}</h6>
                          {% if postagem.dono.id == perfil_logado.id %}
                        <button  class="btn pull-right"><a href="{% url 'excluir_postagem' postagem.id %}"><i class="fa fa-trash"></i></a></button>

                    <div
                        class="modal fade"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="mySmallModalLabel"
                        aria-hidden="true"
                        id="mi-modal{{postagem.id}}"
                    >
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                    <h4
                                        class="modal-title"
                                        id="myModalLabel"
                                    >
                                       {% trans 'Deseja realmente excluir a postagem?' %}
                                    </h4>
                                </div>

                                <div class="modal-footer">
                                    <p>
                                        <a
                                            class="btn btn-default cd-popup-no"
                                            href="{% url 'index' %}"
                                        >{% trans 'Cancelar' %}</a>

                                        <a
                                            class="btn btn-default"
                                            href="{% url 'excluir_postagem' postagem.id %}"
                                        >{% trans 'Excluir' %}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                    </div>
                </div>
                    <div style="text-align:center;">
                    <p>{{ postagem }}</p>
                    {% if postagem.imagem_postagem %}
                        <img src="{{ postagem.imagem_postagem.url }}" style="width:300px; height:210px">
                    {% endif %}
                    </div>
                    <br>

                    
                    <div class="row">
                        <div class="col-lg-1" style="margin-left:10px;">
                            {% if perfil_logado.id not in postagem.curtidas %}
                                <a href="{% url 'curtir' postagem.id %}" class="btn btn-info btn-md">
                                    <span class="glyphicon glyphicon-thumbs-up"></span> Like {{postagem.total_curtidas}}
                                </a>
                            {% else %}
                                <a href="{% url 'descurtir' postagem.id %}" class="btn btn-info btn-md">
                                    <span class="glyphicon glyphicon-thumbs-down"></span> Deslike {{postagem.total_curtidas}}
                                </a>

                            {% endif %}
                        </div>

                        <div class="col-lg-4">

                            <div style="text-align:center;">
                                

                                <h5><a href="{% url 'comentar_postagem' postagem.id %}">{% trans 'Comentar' %}</a></h5>
                                
                            </div>
                        </div>
                </div>

                </li>

                {% endfor %}

                
            </ul>

            {% else %}

            <div class="panel-body">{% trans 'Não há postagens' %}</div>

            {% endif %}
            {% endwith %}
        </div>
        <div class="content"  style="text-align:center;">
            <div class="pagination">
                {% if timeline.has_previous %}

                    <li class="page-item">
                        <span class="step-links">
                            <a
                                class="page-link"
                                href="?page={{ timeline.previous_page_number }}"
                            >{% trans 'Anterior' %}</a>
                        </span>
                    </li>

                    {% endif %}

                {% for i in timeline.paginator.page_range %}

                    {% if timeline.number == i %}
                        <li class="page-item active">
                            <a
                                class="page-link"
                                href="?page={{ timeline.i }}{{i}}"
                            >{{ i }}</a>
                        </li>

                    {% else %}
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="?page={{ timeline.i }}{{i}}"
                            >{{ i }}</a>
                        </li>

                    {% endif %}
                    {% endfor %}
                
                {% if timeline.has_next %}

                    <li class="page-item">
                        <a
                            class="page-link"
                            href="?page={{ timeline.next_page_number }}"
                        >{% trans 'Próxima' %}</a>
                    </li>

                    {% endif %}
                </div>
            </div>
    </div>
    

    <div class="col-lg-3">
        <aside>
            <div
                class="panel panel-default"
                style="overflow-y: scroll; height: 200px;"
            >
                <div>
                    {% with total=perfil_logado.convites_recebidos.count %}

                    {% if total %}

                    <div class="panel-heading">
                        <strong>
                            {{ total }}{% blocktrans %} Convite{{ total|pluralize }} aguardando aprovação {% endblocktrans %}
                            
                        </strong>
                    </div>

                    <ul class="list-group">
                        {% for convite in perfil_logado.convites_recebidos.all %}

                        <li class="list-group-item">
                            <p>
                                <a href="{% url 'exibir' convite.solicitante.id %}">{{convite.solicitante.nome}}</a>

                                <a
                                    class="btn btn-danger pull-right"
                                    href="{% url 'recusar' convite.id %}"
                                >{% trans 'recusar' %}</a>

                                <a
                                    class="btn btn-primary pull-right"
                                    href="{% url 'aceitar' convite.id %}"
                                >{% trans 'aceitar' %}</a>
                            </p>
                        </li>

                        {% endfor %}
                    </ul>

                    {% else %}

                    <div class="panel-body">{% trans 'Não há convites' %}</div>

                    {% endif %}
                    {% endwith %}
                </div>
            </div>

            <div class="panel panel-default">
                {% with total=perfil_logado.convites_feitos.count %}

                {% if total %}

                <div class="panel-heading">
                    <strong>
                        {% blocktrans %}{{ total }} Convite{{ total|pluralize }} enviado{{ total|pluralize }} {% endblocktrans %}
                        
                    </strong>
                </div>

                <div
                    class="panel panel-default"
                    style="overflow-y: scroll; height: 200px;"
                >
                    <ul class="list-group">
                        {% for convite in perfil_logado.convites_feitos.all %}

                        <li class="list-group-item">
                            <p>
                                <a href="{% url 'exibir' convite.convidado.id %}">{{convite.convidado.nome}}</a>

                                <a
                                    class="btn btn-danger pull-right"
                                    href="{% url 'recusar' convite.id %}"
                                >{% trans 'Cancelar' %}</a>
                            </p>
                        </li>

                        {% endfor %}
                    </ul>

                    {% else %}

                    <div class="panel-body">{% trans 'Não há convites' %}</div>

                    {% endif %}
                {% endwith %}
                </div>
            </div>
        </aside>
    </div>
</div>

<script type="text/javascript">
    var modalConfirm = function (callback) {
        $(".btn-confirm").on("click", function () {
            $("#mi-modal").modal('show');
        });
    };
    function abrirModal(id){
        $("#mi-modal"+id).modal('show');
    }
    modalConfirm(function (confirm) {
    });
</script>

<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}